@model Usuario

<h2>Crear usuario</h2>

<div class="card">
    <form asp-action="Create" method="post">
        <div>
            <label>Email</label>
            <input asp-for="Email" class="form-control" />
        </div>

        <div>
            <label>Clave</label>
            <input asp-for="Clave" type="password" class="form-control" />
        </div>

        <div>
            <label>Rol</label>
            <select asp-for="Rol" class="form-control">
                <option>Administrador</option>
                <option>Empleado</option>
            </select>
        </div>

        <div class="col-12">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

