@model Usuario

<h2>Editar Usuario</h2>

<div class="card">
    <div class="card-body">
        <form asp-action="Edit" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <label>Email</label>
                <input asp-for="Email" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Clave</label>
                <input asp-for="Clave" class="form-control" />
            </div>

            @if (!string.IsNullOrEmpty(Model.Avatar))
            {
                <div class="form-group">
                    <label>Avatar actual:</label><br />
                    <img src="@Model.Avatar" alt="Avatar" width="100" />
                </div>
            }

            <div class="form-group">
                <label for="avatarFile">Cambiar Avatar</label>
                <input type="file" name="avatarFile" class="form-control" />
            </div>

            <div class="mb-3">
                <label>Rol</label>
                <select asp-for="Rol" class="form-control">
                    <option>Administrador</option>
                    <option>Empleado</option>
                </select>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary ms-2">Volver al listado</a>
            </div>
            
        </form>
    </div>
    
</div>

