@model Contrato

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Contrato</h4>
<div class="card">
        <form asp-action="Edit" method="post" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-6">
                <label asp-for="FechaInicio" class="control-label"></label>
                <input asp-for="FechaInicio" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="FechaFin" class="control-label"></label>
                <input asp-for="FechaFin" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="MontoMensual" class="control-label"></label>
                <input asp-for="MontoMensual" class="form-control" />
                <span asp-validation-for="MontoMensual" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="InquilinoId" class="control-label"></label>
                <select asp-for="InquilinoId" class="form-control" asp-items="ViewBag.InquilinoId"></select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="InmuebleId" class="control-label"></label>
                <select asp-for="InmuebleId" class="form-control" asp-items="ViewBag.InmuebleId"></select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="FechaTerminacionAnticipada" class="control-label"></label>
                <input asp-for="FechaTerminacionAnticipada" class="form-control" />
                <span asp-validation-for="FechaTerminacionAnticipada" class="text-danger"></span>
            </div>
            
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
