@model List<Contrato>
<h2>Contratos Vigentes</h2>

<table class="table">
    <thead>
        <tr>
            <th>Inquilino</th>
            <th>Inmueble</th>
            <th>Desde</th>
            <th>Hasta</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var c in Model)
    {
        <tr>
            <td>@c.Inquilino.NombreCompleto</td>
            <td>@c.Inmueble.Direccion</td>
            <td>@c.FechaInicio.ToShortDateString()</td>
            <td>@c.FechaFin.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table>